
.label{
margin: 0;
padding: 0;
text-decoration: dotted;
text-align:end;
}

#chatarea{
    margin: 3rem 2rem;
    border: solid;
    border-radius: 10px;
}

#othermsg{
    border: solid;
    border-radius: 10px;
    margin: 5px 15px;
    overflow: hidden;
    font-size: 2hmin;
    padding: 2px;
    text-align: left;
}

#mymsg{
    margin-left: 50%;
    margin: 5px 5px;
    direction: rtl;
    
}

#msgtext{
    padding: 2px;
    text-align: left;
    border: solid;
    border-radius: 10px;    
}

